<header>
  <div class="logo">
    <a class="imageContainer" routerLink="">
      <img src="../../assets/images/pokeball.png" alt="Imagem de Alanyadk por Pixabay">
    </a>
    <a routerLink="">Pokedéx</a>
  </div>

    <fa-icon 
      [icon]="faBars" 
      class="hambIcon"
      (click)="onToggleMenuMobile()"
      [style.transform]="menuMobileDisplay? 'rotate(90deg)': 'rotate(0deg)'"
    >
    </fa-icon>
  
  <nav [class.activeMenuMobile]="menuMobileDisplay">
    <ul>
      <li (click)="onToggleMenuMobile()"> <a class="link" routerLink="">Home</a> </li>
      <li (click)="goToRandomPokemon()" (click)="onToggleMenuMobile()"> Pokemon aleatório </li>
    </ul>
  </nav>
</header>
