.card {
  width: 200px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
  box-shadow: 2px 2px 0px #333;
  cursor: pointer;
  transition: all ease 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.name {
  padding-bottom: 15px;
  font-size: 20px;
}
.name span {
  font-size: 18px;
}
.number {
  font-size: 14px;
  margin-top: -5px;
}
.types {
  display: flex;
}

.type {
  padding: 5px;
  margin: 0px 5px;
  margin-top: 5px;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}
.normal {
  background-image: linear-gradient(to right, rgb(139, 139, 139) ,rgb(224, 224, 224));
}
.fighting {
  background-image: linear-gradient(to right, rgb(253, 137, 29) ,rgb(255, 186, 95));
}
.flying {
  background-image: linear-gradient(to right, rgb(84, 252, 243) , rgb(232, 255, 254) );
}
.poison {
  background-image: linear-gradient(to right, rgb(145, 17, 231) , rgb(216, 132, 255) );
}
.ground {
  background-image: linear-gradient(to right, rgb(109, 67, 67) , rgb(168, 100, 100) );
  color: #eee;
}
.rock {
  background-image: linear-gradient(to right, rgb(92, 59, 59) , rgb(179, 157, 157) );
  color: #eee;
}
.bug {
  background-image: linear-gradient(to right, rgb(91, 105, 90),  rgb(127, 177, 135) );
  color: #eee;
}
.ghost {
  background-image: linear-gradient(to right, rgb(192, 192, 192), rgb(255, 255, 255) );
}
.steel {
  background-image: linear-gradient(to right, rgb(87, 87, 87), rgb(255, 255, 255) );
}
.fire {
  background-image: linear-gradient(to right, rgb(236, 35, 35) , rgb(255, 225, 53) );
}
.water {
  background-image: linear-gradient(to right, rgb(0, 118, 253) , rgb(53, 215, 255) );
}
.grass {
  background-image: linear-gradient(to right, rgb(78, 124, 75) ,rgb(52, 197, 76) );
  color: #eee;
}
.electric {
  background-image: linear-gradient(to right, rgb(221, 166, 47) ,rgb(255, 255, 0));
}
.psychic {
  background-image: linear-gradient(to right, rgb(16, 8, 87) ,rgb(63, 25, 231));
  color: #eee;
}
.ice {
  background-image: linear-gradient(to right, rgb(54, 101, 253), rgb(255, 255, 255));
}
.dragon {
  background-image: linear-gradient(to right, rgb(226, 27, 27) , rgb(255, 225, 53) );
}
.dark {
  background-image: linear-gradient(to right, rgb(29, 29, 31), rgb(78, 78, 105));
  color: #eee;
}
.fairy {
  background-image: linear-gradient(to right, rgb(255, 36, 200), rgb(248, 147, 235));
}
.unknown {
  background-image: linear-gradient(to right, rgb(252, 252, 252), rgb(255, 255, 255));
}
.shadow {
  background-image: linear-gradient(to right, rgb(82, 82, 82), rgb(138, 138, 138));
  color: #eee;
}


.normalDesc {
  background-color: rgb(218, 218, 218);
}
.fightingDesc {
  background-color: rgb(255, 193, 134);
}
.flyingDesc {
  background-color: rgb(202, 233, 231);
}
.poisonDesc {
  background-color: rgb(191, 148, 219);
}
.groundDesc {
  background-color: rgb(160, 123, 123);
}
.rockDesc {
  background-color: rgb(141, 136, 136);
}
.bugDesc {
  background-color: rgb(160, 197, 158);
}
.ghostDesc {
  background-color: #eee;
}
.steelDesc {
  background-color: rgb(155, 155, 155);
}
.fireDesc {
  background-color: rgb(241, 135, 135);
}
.waterDesc {
  background-color: rgb(140, 194, 255);
}
.grassDesc {
  background-color: rgb(92, 226, 82);
}
.electricDesc {
  background-color: rgb(255, 255, 142);
}
.psychicDesc {
  background-color: rgb(115, 108, 172);
}
.iceDesc {
  background-color: rgb(182, 199, 255);
}
.dragonDesc {
  background-color: rgb(241, 135, 135);
}
.darkDesc {
  background-color: rgb(85, 85, 124);
}
.fairyDesc {
  background-color: rgb(253, 170, 233);
}
.unknownDesc {
  background-color: white;
}
.shadowDesc {
  background-color: rgb(139, 139, 139);
}

.imageBackground {
  position: relative;
  margin-bottom: -170px;
  width: 150px;
  height: 150px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.486);
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  transition: all ease 0.2s;
}
.image:hover {
  transform: scale(1.1);
}
.image img {
  z-index: 10;
  width: 100%;
}

@media (max-width: 700px) {
  .container {
    margin-top: -20px;
    background-position-y: 65px;
    background-size: 400px;
  }
  .card {
    width: 280px;
    font-size: 30px;
  }
  .imageBackground {
    margin-bottom: -220px;
    width: 200px;
    height: 200px;
  }
  
  .image {
    width: 230px;
  }
  .type {
    padding: 5px;
    font-size: 18px;
  }

  .name {
    padding-bottom: 20px;
    font-size: 23px;
  }
  .name span {
    font-size: 20px;
  }
}