
<div class="container">

  <div class="status">
    <span>Vida: </span> 
    <div class="fullBar"> 
      <div class="statusBar" [style.width]=" stats[0].base_stat/2 + '%' "></div> 
    </div>
  </div>
  <div class="status">
    <span>Ataque: </span> 
    <div class="fullBar"> 
      <div class="statusBar" [style.width]=" stats[1].base_stat/2 + '%' "></div> 
    </div>
  </div>
  <div class="status">
    <span>Defesa: </span> 
    <div class="fullBar"> 
      <div class="statusBar" [style.width]=" stats[2].base_stat/2 + '%' "></div> 
    </div>
  </div>
  <div class="status">
    <span>Ataque especial: </span> 
    <div class="fullBar"> 
      <div class="statusBar" [style.width]=" stats[3].base_stat/2 + '%' "></div> 
    </div>
  </div>
  <div class="status">
    <span>Defesa especial: </span> 
    <div class="fullBar"> 
      <div class="statusBar" [style.width]=" stats[4].base_stat/2 + '%' "></div> 
    </div>
  </div>
  <div class="status">
    <span>Velocidade: </span> 
    <div class="fullBar"> 
      <div class="statusBar" [style.width]=" stats[5].base_stat/2 + '%' "></div> 
    </div>
  </div>

</div>