.container{
  width: 100%;
  margin-top: -50px;
  padding-top: 50px;
  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-position: center;

  background-size: 1000px;
  background-position-y: 10px;
}

.search {
  margin: auto;
  margin-top: 170px;
  margin-bottom: 50px;
  width: 30%;
}

.temporaryBackgroundFiller {
  display: block;
  height: 100vh;
  width: 100%;
}

.cardsContainer {
  margin: auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 94%;
  padding: 40px;
  overflow: hidden;
  background-color: rgba(184, 184, 184, 0.253);
}

@media (max-width: 700px) {
  .container {
    margin-top: -20px;
    background-position-y: 65px;
    background-size: 400px;
  }
  .search {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 40px;
  }
}